{% load i18n %}

<p>
{% blocktrans %}
Would you like to copy the permanent link to your clipboard?
{% endblocktrans %}
</p>

{% spaceless %}
<p><label for="permanent_link_url">{% trans "Permanent link" %}:</label></p>
<p><input id="permanent_link_url" name="permanent_link_url" size="64" style="font-size: 12px; width: 330px" readonly="readonly" type="text" value="{{ url }}" /></p>
{% endspaceless %}

<script type="text/javascript">
$(document).ready(function() {
    // We highlight the content of the text field on click event
    $('#permanent_link_url').click(function() {
        $(this).select();
    })
})
</script>
