<!-- template header.html -->
{% load extra_tags ui_registry i18n extra_filters markup %}

  <div id="menu-container">

      {% loadregistry header_links %}<span class="separator"> | </span>{% endloadregistry %}

  </div>

  <div id="logo-container">

    <a id="logo" href="{% url index %}">
      <img src="{% media "/media/images/meltdown-logo.png" %}" title="{% trans "back to home page" %}" alt="{{settings.APP_TITLE}} logo"/>
    </a>

    <nav id="nav">
      <ul>
        {% loopregistry page_top_tabs %}{% spaceless %}
          <li>
            <a class="nav-button{% ifequal tab tab_name %} current{% endifequal %}" id="nav_{{ tab_name }}" href="{{ tab_url }}" >{{ tab_title }}</a>
          </li>
        {% endspaceless %}{% endloopregistry %}
        <li>
          <a class="nav-button ask" id="nav_ask" href="{% url ask %}">{% trans "ask a question" %}</a>
        </li>
      </ul>
    </nav>

    <div id="searchContainer">
      <div id="searchBar">
        <form action="{% url search %}" method="get">
            <div>
                <input type="text" class="searchInput" value="{{ keywords }}" name="q" id="keywords" />
                <select name="t" class="searchOptions">
                  <option value="question">{% trans "questions" %}</option>
                  <option value="tag">{% trans "tags" %}</option>
                  <option value="user">{% trans "users" %}</option>
                </select>
                <input type="submit" name="Submit" value="{% trans "Search »" %}" class="searchBtn" />
            </div>
        </form>
      </div>
    </div>

  </div>

	{% if settings.USE_ANNOUNCEMENT_BAR|or_preview:request %}
  <div id="announcement">
      {{ settings.ANNOUNCEMENT_BAR|or_preview:request|static_content:settings.ANNOUNCEMENT_BAR_RENDER_MODE }}
  </div>
  {% endif %}

<!-- end template header.html -->
